.icon-oval-sm
{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	background-color:  #33383b;
	color: #ffffff;
}
.icon-oval-md
{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	background-color:  #33383b;
	color: #ffffff;
}
.icon-oval-lg
{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	background-color:  #33383b;
	color: #ffffff;
}

.icon-square-sm
{
	width: 35px;
	height: 35px;
	border-radius: 3px;
	line-height: 35px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	background-color:  #33383b;
	color: #ffffff;
}
.icon-square-md
{
	width: 45px;
	height: 45px;
	border-radius: 3px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	background-color:  #33383b;
	color: #ffffff;
}
.icon-square-lg
{
	width: 55px;
	height: 55px;
	border-radius: 3px;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	background-color:  #33383b;
	color: #ffffff;
}

.no-border {border-style: none;}
.hidden-border {border-style: hidden;}
.dotted-border {border-style: dotted;}
.dashed-border {border-style: dashed;}
.solid-border {border-style: solid;}
.double-border {border-style: double;}
.groove-border {border-style: groove;}
.ridge-border {border-style: ridge;}
.inset-border {border-style: inset;}
.outset-border {border-style: outset;}

.no-border-left {border-left-style: none;}
.hidden-border-left {border-left-style: hidden;}
.dotted-border-left {border-left-style: dotted;}
.dashed-border-left {border-left-style: dashed;}
.solid-border-left {border-left-style: solid;}
.double-border-left {border-left-style: double;}
.groove-border-left {border-left-style: groove;}
.ridge-border-left {border-left-style: ridge;}
.inset-border-left {border-left-style: inset;}
.outset-border-left {border-left-style: outset;}

.no-border-right {border-right-style: none;}
.hidden-border-right {border-right-style: hidden;}
.dotted-border-right {border-right-style: dotted;}
.dashed-border-right {border-right-style: dashed;}
.solid-border-right {border-right-style: solid;}
.double-border-right {border-right-style: double;}
.groove-border-right {border-right-style: groove;}
.ridge-border-right {border-right-style: ridge;}
.inset-border-right {border-right-style: inset;}
.outset-border-right {border-right-style: outset;}

.no-border-top {border-top-style: none;}
.hidden-border-top {border-top-style: hidden;}
.dotted-border-top {border-top-style: dotted;}
.dashed-border-top {border-top-style: dashed;}
.solid-border-top {border-top-style: solid;}
.double-border-top {border-top-style: double;}
.groove-border-top {border-top-style: groove;}
.ridge-border-top {border-top-style: ridge;}
.inset-border-top {border-top-style: inset;}
.outset-border-top {border-top-style: outset;}

.no-border-bottom {border-bottom-style: none;}
.hidden-border-bottom {border-bottom-style: hidden;}
.dotted-border-bottom {border-bottom-style: dotted;}
.dashed-border-bottom {border-bottom-style: dashed;}
.solid-border-bottom {border-bottom-style: solid;}
.double-border-bottom {border-bottom-style: double;}
.groove-border-bottom {border-bottom-style: groove;}
.ridge-border-bottom {border-bottom-style: ridge;}
.inset-border-bottom {border-bottom-style: inset;}
.outset-border-bottom {border-bottom-style: outset;}

.border-xs {border-width: 1px;}
.border-sm {border-width: thin;}
.border-md {border-width: medium;}
.border-lg {border-width: thick;}

.border-left-xs {border-left-width: 1px;}
.border-left-sm {border-left-width: thin;}
.border-left-md {border-left-width: medium;}
.border-left-lg {border-left-width: thick;}

.border-right-xs {border-right-width: 1px;}
.border-right-sm {border-right-width: thin;}
.border-right-md {border-right-width: medium;}
.border-right-lg {border-right-width: thick;}

.border-top-xs {border-top-width: 1px;}
.border-top-sm {border-top-width: thin;}
.border-top-md {border-top-width: medium;}
.border-top-lg {border-top-width: thick;}

.border-bottom-xs {border-bottom-width: 1px;}
.border-bottom-sm {border-bottom-width: thin;}
.border-bottom-md {border-bottom-width: medium;}
.border-bottom-lg {border-bottom-width: thick;}

.border-white {border-color: white;}
.border-light {border-color: #c1c1c1;}
.border-gray {border-color: #9e9e9e;}
.border-dark {border-color: #5f5f5f;}
.border-black {border-color: black;}

.border-left-white {border-left-color: white;}
.border-left-light {border-left-color: #c1c1c1;}
.border-left-gray {border-left-color: #9e9e9e;}
.border-left-dark {border-left-color: #5f5f5f;}
.border-left-black {border-left-color: black;}

.border-right-white {border-right-color: white;}
.border-right-light {border-right-color: #c1c1c1;}
.border-right-gray {border-right-color: #9e9e9e;}
.border-right-dark {border-right-color: #5f5f5f;}
.border-right-black {border-right-color: black;}

.border-top-white {border-top-color: white;}
.border-top-light {border-top-color: #c1c1c1;}
.border-top-gray {border-top-color: #9e9e9e;}
.border-top-dark {border-top-color: #5f5f5f;}
.border-top-black {border-top-color: black;}

.border-bottom-white {border-bottom-color: white;}
.border-bottom-light {border-bottom-color: #c1c1c1;}
.border-bottom-gray {border-bottom-color: #9e9e9e;}
.border-bottom-dark {border-bottom-color: #5f5f5f;}
.border-bottom-black {border-bottom-color: black;}

.super-edged {border-radius: 0px !important;}
.edged {border-radius: 0px;}
.rounded-xxs {border-radius: 3px;}
.rounded-xs {border-radius: 5px;}
.rounded-sm {border-radius: 8px;}
.rounded-md {border-radius: 12px;}
.rounded-lg {border-radius: 18px;}
.rounded-xl {border-radius: 24px;}
.rounded-xxl {border-radius: 30px;}
.rounded-oval {border-radius: 50%;}

.edged-top-left {border-top-left-radius: 0px;}
.rounded-top-left-xxs {border-top-left-radius: 3px;}
.rounded-top-left-xs {border-top-left-radius: 5px;}
.rounded-top-left-sm {border-top-left-radius: 8px;}
.rounded-top-left-md {border-top-left-radius: 12px;}
.rounded-top-left-lg {border-top-left-radius: 18px;}
.rounded-top-left-xl {border-top-left-radius: 24px;}
.rounded-top-left-xxl {border-top-left-radius: 30px;}
.rounded-top-left-oval {border-top-left-radius: 50%;}

.edged-top-right {border-top-right-radius: 0px;}
.rounded-top-right-xxs {border-top-right-radius: 3px;}
.rounded-top-right-xs {border-top-right-radius: 5px;}
.rounded-top-right-sm {border-top-right-radius: 8px;}
.rounded-top-right-md {border-top-right-radius: 12px;}
.rounded-top-right-lg {border-top-right-radius: 18px;}
.rounded-top-right-xl {border-top-right-radius: 24px;}
.rounded-top-right-xxl {border-top-right-radius: 30px;}
.rounded-top-right-oval {border-top-right-radius: 50%;}

.edged-bottom-left {border-bottom-left-radius: 0px;}
.rounded-bottom-left-xxs {border-bottom-left-radius: 3px;}
.rounded-bottom-left-xs {border-bottom-left-radius: 5px;}
.rounded-bottom-left-sm {border-bottom-left-radius: 8px;}
.rounded-bottom-left-md {border-bottom-left-radius: 12px;}
.rounded-bottom-left-lg {border-bottom-left-radius: 18px;}
.rounded-bottom-left-xl {border-bottom-left-radius: 24px;}
.rounded-bottom-left-xxl {border-bottom-left-radius: 30px;}
.rounded-bottom-left-oval {border-bottom-left-radius: 50%;}

.edged-bottom-right {border-bottom-right-radius: 0px;}
.rounded-bottom-right-xxs {border-bottom-right-radius: 3px;}
.rounded-bottom-right-xs {border-bottom-right-radius: 5px;}
.rounded-bottom-right-sm {border-bottom-right-radius: 8px;}
.rounded-bottom-right-md {border-bottom-right-radius: 12px;}
.rounded-bottom-right-lg {border-bottom-right-radius: 18px;}
.rounded-bottom-right-xl {border-bottom-right-radius: 24px;}
.rounded-bottom-right-xxl {border-bottom-right-radius: 30px;}
.rounded-bottom-right-oval {border-bottom-right-radius: 50%;}

.opacity-0 { opacity: 0.0; }
.opacity-1 { opacity: 0.1; }
.opacity-2 { opacity: 0.2; }
.opacity-3 { opacity: 0.3; }
.opacity-4 { opacity: 0.4; }
.opacity-5 { opacity: 0.5; }
.opacity-6 { opacity: 0.6; }
.opacity-7 { opacity: 0.7; }
.opacity-8 { opacity: 0.8; }
.opacity-9 { opacity: 0.9; }
.opacity-10 { opacity: 0; }

.opacity-hover-0:hover { opacity: 0.0; }
.opacity-hover-1:hover { opacity: 0.1; }
.opacity-hover-2:hover { opacity: 0.2; }
.opacity-hover-3:hover { opacity: 0.3; }
.opacity-hover-4:hover { opacity: 0.4; }
.opacity-hover-5:hover { opacity: 0.5; }
.opacity-hover-6:hover { opacity: 0.6; }
.opacity-hover-7:hover { opacity: 0.7; }
.opacity-hover-8:hover { opacity: 0.8; }
.opacity-hover-9:hover { opacity: 0.9; }
.opacity-hover-10:hover { opacity: 1; }

.font-times-new-roman {font-family: Times New Roman;}
.font-rammetto-one {font-family: Rammetto One;}
.font-indie-flower {font-family: Indie Flower;}
.font-cookie {font-family: Cookie;}
.font-xxs {font-size: 8pt;}
.font-xs {font-size: 12pt;}
.font-sm {font-size: 20pt;}
.font-md {font-size: 32pt;}
.font-lg {font-size: 48pt;}

.text-bright {color: #eff4f4;}

.bg-lightblue {background-color: #c2d2ed;}
.normal-line-height { line-height: normal; }